body {
    background-color: #eceff1;
}

#p1 {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    background-image: url(../img/welcome/1p/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#p1 > img#edcanProfile {
    position: absolute;
    top: calc(50% - 191px);
    left: calc(50% - 143px);
}

#p1 > #downButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #151b1e;
    text-align: center;
    cursor: pointer;
}

#p1 > #downButton > img {
    width: 30px;
    margin-top: 24px;
}

#p1 > #hiddenBox {
    width: 100%;
    height: 100%;
}

#p1 > #edcanIntroBox {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #263238;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3);
    color: #dbdbdb;
}

#p1 > #edcanIntroBox > h1#edcanIntroTitle {
    color: #00b8d4;
    font-size: 1.5em;
}

#p1 > #edcanIntroBox > #edcanIntroContent {
    line-height: 1.5em;
}

#p2 {
    width: 100%;
    margin-bottom: 30px;
    line-height: 1.5em;
}

#p3 {
    width: 100%;
    margin-bottom: 60px;
    line-height: 1.5em;
}

section > .page_card {
    box-sizing: border-box;
    width: 100%;
    padding:50px;
    background-color: #fff;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3);
}

section > .unit_page{
  padding-top: 50px;
  padding-bottom:50px;
  padding-left:5px;
  padding-right:5px;
}

section > .page_card > .page_card_title {
    height: 15px;
    color: #263238;
}

section > .page_card > .page_card_explain {
    color: #263238;
}

section > .unit_page > .page_card_title {
    height: 15px;
    color: #263238;
    margin-left:45px;
}

section > .unit_page > .page_card_explain {
    color: #263238;
    margin-left:45px;
}

/* 위는 선배 코드 */

.link {
    width: 100%;
    margin-top: 30px;
    display: block;
}

.link_box {
    margin-left: 13px;
    margin-right: 13px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-shadow: 2px 2px 20px 1px gray;
    margin-bottom: 50px;
}

.link_card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.link_card > img {
    width: 170px;
    height: 170px;
}

.gg > .link_card > img {
    width: 120px;
    height: 120px;
}

.yb .link_card {
    background-color: rgb(222, 75, 68);
}

.gh .link_card {
    background-color: rgb(45, 45, 55);
}

.fb .link_card {
    background-color: rgb(61, 91, 153);
}

.gg .link_card {
    background-color: rgb(245, 245, 245);
}

.yb > .bottom_link {
    background-color: rgb(177, 60, 54);
}

.gg > .bottom_link {
    background-color: rgb(147, 147, 147);
}

.gh > .bottom_link {
    background-color: rgb(36, 36, 43);
}

.fb > .bottom_link {
    background-color: rgb(49, 73, 122);
}

.bottom_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.link_button {
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    border-radius: 50px;
}

.unit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content:space-between;
    margin-top: 20px;

}

.unit .unit_box {
    /*flex:2;*/
    margin-right:10px;
    margin-left:10px;
  }

.unit_box {
    position: relative;
    z-index: 1;
}

.unit > .unit_box > .unit_card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    /*flex:1;*/
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 190px;
    width: 150px;
}

.unit > .unit_box > .unit_card img {
    width: 150px;
    height: auto;
}

.unit > .an > .unit_card img {
    width: 190px;
    height: auto;
}

.unit > .an > .unit_card {
    background-color: rgb(197, 239, 239);
}

.unit .db .unit_card {
    background-color: rgb(188, 237, 225);
}

.unit .lh .unit_card {
    background-color: rgb(255, 206, 242);
}

.unit > .gz > .unit_card {
    background-color: rgb(254, 237, 224);
}

.unit > .px > .unit_card {
    background-color: rgb(221, 211, 253);
}

.db > .bottom_explain {
    background-color: rgb(76, 92, 92);
}

.lh > .bottom_explain {
    background-color: rgb(105, 56, 92);
}

.gz > .bottom_explain {
    background-color: rgb(102, 95, 89);
}

.px > .bottom_explain {
    background-color: rgb(86, 82, 99);
}

.an > .bottom_explain {
    background-color: rgb(78, 94, 94);
}

.bottom_explain {
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    /*height:80px;*/
}

.unit_title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px;
}


.unit_link {
    -webkit-flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-basis: 120px;
    -webkit-flex-shrink: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 2%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.unit_link > .unit_button {
    border: 1px solid white;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    font-size: 10pt;
    cursor:pointer;
}

.unit_name {
    font-size: 20pt;
}

.leftBtn {
    width: 50px;
    height: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.rightBtn {
    width: 50px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 5;
    left: calc(100% - 55px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.leftBtn_Img,
.rightBtn_Img {
    height: 40px;
}

.btn_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.link_button {
    cursor: pointer;
}

.unit_subName {
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.5);
}

.github:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(45, 45, 55);
}

.youtube:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(222, 75, 68);
}

.facebook:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 91, 153);
}

.play:hover {
    color: rgb(0,0,0);
    background-color:rgb(255, 255, 255);
}

.unit_button:hover{
  color:rgba(0,0,0,0.7);
  background-color:white;
}

@media(min-width:970px) {
    .link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .link_box {
        margin-bottom: 0;
    }

    .rightBtn{
      left: calc(100% - 90px);
    }

    section > .page_card > .page_card_title {
        height: 30px;
    }
    #p1 {
        margin-bottom: 350px;
    }


    .unit > .unit_box > .unit_card {
      width:240px;
    }

    section > .unit_page {
        padding:50px;
    }

    .unti_title{
      margin-left:0px;
    }



    section > .unit_page > .page_card_title {
        height: 30px;
        margin-left:0px;
    }

    section > .unit_page > .page_card_explain {
        margin-left:0px;
    }

}
