html, body{
  margin: 0rem;
  padding: 0rem;
  width:100%;
  height: 100%;
}
*{
  font-family: 'Nanum Square';
}
ul{
  -webkit-padding-start: 0px;
  list-style: none;
}
/*#p0{
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width:100%;
  height: 100%;
}*/
#p1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  background-size: cover;
  background-image: url('../img/main/background.png');
}
#p1 .unit-logo{
  margin-top: 80px; // header menu height
  display: flex;
  align-items: flex-end;;;
  /*flex:6;*/
}
#p1 .title-text{
  display: flex;
  align-items: flex-start;;
  flex:3;
}
#p1 .bottom-button-group{
  flex:3;
  /*display: flex;*/
  align-items: flex-end;
}
#p1 .flex-null{
  flex:1;
}
#p1 header{
  display: flex;
  height: 80px;
  width:90%;
  position: fixed;
  top:0;
  background-color: rgb(54, 70, 78);
}
#p1 header .menu-left{
  display: flex;
  flex-basis: 30rem;
  flex-shrink: 2;

}
#p1 .menu-left .menu-logo{
  width:14rem;
  flex-shrink: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 90, 99);
}
#p1  .menu-left .menu-logo img{
  width: 8rem;
  height: auto;
}
#p1 .menu-left .menu-box{
  color: white;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 8rem;
  flex-shrink: 2;
    border-right: 1px solid gray;
}
#p1 .menu-left .menu-box .menu-list-title{
  -webkit-margin-before: 1.70em;
  -webkit-margin-after: 0em;
  cursor:pointer;

}
#p1 .menu-left .menu-box .menu-list{
  width:8rem;
  text-align: center;
  color:gray;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  background-color: rgb(54, 70, 78);
  flex-basis: 7rem;
  flex-shrink: 2;
  font-size: 11pt;
  padding-bottom: 0.75rem;
  cursor:pointer;
}
#p1 .menu-left .menu-box .menu-list li{
  padding-top: 0.5rem;
}
#p1 header .menu-null{
  flex:1;
}
#p1 header .menu-right{
  display: flex;
  flex-direction: row;
  flex-basis: 17rem;
  flex-shrink: 2;
  align-items: center;
  justify-content:flex-end;;;
  /*padding-right: 1rem;*/
}
#p1 header .menu-right .menu-icon{
  display: flex;
  align-items: center;;
  justify-content: center;
  border-left: 1px solid gray;
  height: 100%;
  width:5rem;

}
#p1 header .menu-right .menu-icon img{
  width:auto;
  height: 1rem;
  cursor: pointer;
}
#p1 .unit-logo{
  display: flex;
  /*flex-direction: column;*/
  /*min-height: rem;*/
  /*max-height: 15rem;*/
}
#p1 .unit-logo img{
  margin-left: -1.3rem;
  margin-right: -1.3rem;
  padding: 0px;
  width:14rem;
  height: 14rem;
}
#p1 .unit-top-line{
  width:100%;
  display: flex;
  justify-content: center;
}
#p1 .unit-bottom-line{
  display: flex;
  margin-top: -7.7rem;
}
#p1 .line{
  /*border: 1px solid white;*/
  background-color: rgb(255, 255, 255);
  height: 4px;
  width:70px;
  margin-bottom: 20px;
}
#p1 .title-text{
  display: flex;
  /*align-items: center;*/
  color:white;
  font-size: 35pt;
}
#p1 .bottom-button-group{
  width:100%;
  display: flex;
  color:white;
  justify-content: center;
}
#p1 .bottom-button-group div{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
#p1 .bottom-button-group div button{
  width:200px;
  height: 35px;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 12pt;
  color:white;
  background: none;
  outline: none;
  cursor:pointer;
}
#p1 .bottom-button-group div button:hover{
  background-color: white;
  color:black;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#p1 .bottom-button-group .back-button{
  justify-content: flex-start;
}
#p1 .bottom-button-group .group-null{
  /*flex:1;*/
  min-width:20px;
}
#p1 .bottom-button-group .main-button{
  justify-content: flex-end;
}

#p2{
  width:100%;
  background-color: rgb(234, 237, 239);
  height: 30px;
}

#p3{
  /*width:100%;*/
  /*display: flex;*/
  flex-direction: column;
  /*align-items: center;*/
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}
#p3 .title-text{
  width:100%;
  align-items: flex-start;
  font-size: 30pt;
  color:rgb(38, 185, 211);
}
#p3 .title-sub{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}
#p3 .title-sub .subText{
  color:gray;
}
#p3 .title-sub .project-date{
  display: flex;
  align-items: center;
  flex-direction: row;
}
#p3 .title-sub .project-date div{
  border-right: 1px solid gray;
  padding-left:  0.9rem;
  padding-right: 0.9rem;
  cursor: pointer;
}
#p3 .title-sub .project-date .project-date-2017{
  border-right: none;
}
#p3 .project-box{
  float: left;
  display: flex;
  width:40%;
  min-width: 400px;
  height: 300px;
  border: 1px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
}
#p3 .project-box .left-image{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38pt;
  color:white;
  flex:4;
  background-size: cover;
  background-image: url('../img/temp/temp.png');
}
#p3 .project-box .right-index{
  flex:3;
}
#p3 .project-box .right-index{
  display: flex;
  flex-direction: column;
}
#p3 .project-box .right-index .project-title{
  font-size: 25pt;
  padding: 1rem;
  padding-bottom: 0rem;
}
#p3 .project-box .right-index .project-index{
  flex:1;
  font-size: 10pt;
  color:gray;
  padding: 1rem;
}
#p3 .project-box .right-index .project-button{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#p3 .project-box .right-index .project-button > button{
  background: none;
  border: 1px solid gray;
  outline: none;
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 10pt;
  border-radius: 18px;
  color:gray;
}
.none{
  display:none;
}
@media (max-width : 970px)
{
  #p1 .unit-logo{
    flex-direction: column;
  }
  #p1 .bottom-button-group{
    display: none;
  }
  #p1 .menu-left .menu-box{
    display: none;
  }
  #p1 header{
    width:100%;
    background-color: rgb(70, 90, 99);
    height: 70px;
  }
  #p1 header .menu-left{
    flex:1;
    justify-content: center;
  }
  #p1 header .menu-right{
    display: none;
  }
  #p1 .menu-null{
    display: none;
  }
  .menu-m-side{
    display: flex;
    align-items: center;
    justify-content: center;
    width:4rem;
  }
}
@media (min-width : 970px) {
  #p1 .unit-logo{
    flex:6;
  }
  #p1 .bottom-button-group{
    display: flex;
  }
  #p1 header .menu-m-side{
    display: none;
  }

}
