html, body{
  margin: 0rem;
  padding: 0rem;
  width:100%;
  height: 100%;
}
ul{
  -webkit-padding-start: 0px;
  list-style: none;
}
/*#p0{
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width:100%;
  height: 100%;
}*/
#p1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  background-size: cover;
  background-image: url('../img/main/background.png');
}
#p1 .unit-logo{
  display: flex;
  align-items: flex-end;
  flex:10;
}
#p1 .title-text{
  display: flex;
  align-items: flex-start;;
  flex:3;
}
#p1 .bottom-button-group{
  flex:3;
  display: flex;
  align-items: flex-end;
}
#p1 .flex-null{
  flex:1;
}
#p1 header{
  display: flex;
  height: 80px;
  width:90%;
  position: fixed;
  top:0;
  background-color: rgb(54, 70, 78);
}
#p1 header .menu-left{
  display: flex;
  flex-basis: 30rem;
  flex-shrink: 2;

}
#p1 .menu-left .menu-logo{
  width:14rem;
  flex-shrink: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 90, 99);
}
#p1  .menu-left .menu-logo img{
  width: 8rem;
  height: auto;
}
#p1 .menu-left .menu-box{
  color: white;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 8rem;
  flex-shrink: 2;
    border-right: 1px solid gray;
}
#p1 .menu-left .menu-box .menu-list-title{
  -webkit-margin-before: 1.70em;
  -webkit-margin-after: 0em;
  cursor:pointer;

}
#p1 .menu-left .menu-box .menu-list{
  width:8rem;
  text-align: center;
  color:gray;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  background-color: rgb(54, 70, 78);
  flex-basis: 7rem;
  flex-shrink: 2;
  font-size: 11pt;
  padding-bottom: 0.75rem;
  cursor:pointer;
}
#p1 .menu-left .menu-box .menu-list li{
  padding-top: 0.5rem;
}
#p1 header .menu-null{
  flex:1;
}
#p1 header .menu-right{
  flex-basis: 30rem;
  flex-shrink: 2;
}
#p1 .unit-logo img{
  margin-left: -20px;
  margin-right: -20px;
  padding: 0px;
  width:14rem;
  height: auto;
}
#p1 .line{
  /*border: 1px solid white;*/
  background-color: rgb(255, 255, 255);
  height: 4px;
  width:70px;
  margin-bottom: 20px;
}
#p1 .title-text{
  color:white;
  font-size: 35pt;
}
#p1 .bottom-button-group{
  width:100%;
  display: flex;
  color:white;
  justify-content: center;
}
#p1 .bottom-button-group div{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}
#p1 .bottom-button-group div button{
  width:200px;
  height: 35px;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 12pt;
  color:white;
  background: none;
  outline: none;
  cursor:pointer;
}
#p1 .bottom-button-group .back-button{
  justify-content: flex-start;
}
#p1 .bottom-button-group .group-null{
  /*flex:1;*/
  min-width:20px;
}
#p1 .bottom-button-group .main-button{
  justify-content: flex-end;
}
