*{
  margin:0px;
}

.popup{
  width:100vw;
  height:40vh;

  display:flex;

  position:absolute;
}

.pf-img{
  width:35%;
  height:100%;
  background-image:url("../img/award/resource_204hangulo.png");
  background-size:cover;

  display:flex;
  align-items:flex-end;
}

.pf-img-name{
  width:calc(100% + 30px);
  height:10%;

  background-color:rgba(0,0,0,0.6);

  color:white;
}

.pf-content{
  width:65%;
  height:100%;
  background-color:white;
}

.pf-box{
  width:calc(100% - 30px);
}

.pf-content-header{
  height:10%;
  display:flex;
  align-items:center;
  justify-content:flex-end;

  padding-right:15px;
  color:gray;
  font-size:30px;
}

.pf-content-title{
  color:red;
  height:15%;

  display:flex;
  align-items:center;

  padding-left:15px;

  font-size:30px;

  font-weight:600;
}

.pf-content-subtitle{
  height:10%;

  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-left:15px;
  padding-right:15px;

}
.pf-content-font{
  font-size:20px;
  color:rgba(0,0,0,0.4);
  font-weight:200;
}


.pf-content-egname , .pf-content-name{
  font-weight:600;
}

.pf-content-text{
  padding-left:15px;
  overflow-y:auto;

}

@media (max-width:970px){
  .popup{
    display:block;
    margin-top:-60px;


  }
  .pf-img{
    width:100vw;
    height:70vh;
    z-index:0;
    position:absolute;
    overflow:hidden;

  }
  .pf-content{
    position: absolute;
    z-index:30;

    width:100%;

    background-color: transparent;
    padding-top:30px;
  }

  .pf-img-name{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
  }

  .pf-content-font{
    color:white;
  }

  .pf-box{
    width:calc(100% - 30px);
    padding-top:30px;
  }

  .pf-content-header{
    height:5%;
  }

  .pf-content-title{
    height:10%;

  }

  .pf-content-subtitle{
    height:5%;
  }
}